<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QR Generator</title>
        <link href="../static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="default">
            <h1>QR Code Generator</h1>
            <form id="form" method="POST" action="/">
                <div>
                    <p>
                        QR Code Type:
                        <select name="qr_code" onchange="changeType(this)">
                            {% for QR_Type in QR_Types %}
                                <option value="{{QR_Type}}">{{QR_Type}}</option>
                            {% endfor %}
                        </select>
                    </p>
                </div>
                <p>{{ message }}</p>
                <input type="text" id="content" name="content" placeholder="Enter your text to share here" required>
            </form>
            <button form="form" type="submit">Generate</button>
            <div>
                <a href="https://github.com/MarinosPapadakis/qr-code-generator-flask">GitHub</a>
                <a href="https://github.com/MarinosPapadakis/qr-code-generator-flask/blob/master/LICENSE">License</a>
            </div>
        </div>
        <script src="../static/main.js"></script>
    </body>
</html>